.present {
	color: green;
}

.absent {
	color: red;
}

.brand-name {
}

.brand-container {
	color: #001A09;
	background: grey;
}

.upload-file {
	margin-bottom: 30px;
	margin-top:30px;
}

.myTable {
}

.caption {
	text-align: right;
}